<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" type="topic" id="howto_setting_up_orca" xml:lang="pt-BR">
<info>
  <link type="seealso" xref="preferences"/>
  <link type="guide" xref="index#getting_started"/>
  <link type="next" xref="howto_the_orca_modifier"/>
  <title type="sort">4. Configuração do Orca</title>
  <title type="link">Configuração</title>
    <desc>Configurando o <app>Orca</app></desc>
    <credit type="author">
      <name>Joanmarie Diggs</name>
      <email>joanied@gnome.org</email>
    </credit>
    <license>
      <p>Atribuição Compartilhada Igual 3.0 — Creative Commons</p>
    </license>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Alexandre Conte</mal:name>
      <mal:email>alente.alemao@gmail.com</mal:email>
      <mal:years>2013</mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>José Vilmar Estácio De Souza</mal:name>
      <mal:email>vilmar@informal.com.br</mal:email>
      <mal:years>2013</mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Enrico Nicoletto</mal:name>
      <mal:email>liverig@gmail.com</mal:email>
      <mal:years>2013</mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Leônidas Araújo</mal:name>
      <mal:email>leorusvellt@hotmail.com</mal:email>
      <mal:years>2022</mal:years>
    </mal:credit>
  </info>
  <title>Configuração do Orca</title>

      <p>Se você deseja configurar o <app>Orca</app>, acesse a caixa de diálogo <link xref="preferences">Preferências</link> pressionando <keyseq><key>Tecla Modificadora do Orca</key><key>Espaço</key></keyseq> de dentro de qualquer aplicativo acessível. Alternativamente, você pode digitar <cmd>orca</cmd> seguido por <cmd>-s</cmd> ou <cmd>--setup</cmd> em uma janela de terminal ou dentro do <gui>Executar</gui> e então pressione <key>Enter</key>.</p>
</page>
