<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" type="topic" id="commands_time_date_notifications" xml:lang="da">
  <info>
    <link type="next" xref="commands_profiles"/>
    <link type="guide" xref="commands#getting_started"/>
    <link type="seealso" xref="howto_notifications"/>
    <title type="sort">4. Klokkeslæt, dato og underretning</title>
    <title type="link">Klokkeslæt, dato og underretning</title>
    <desc>Kommandoer til at få klokkeslættet, datoen og underretninger</desc>
    <credit type="author">
      <name>Joanmarie Diggs</name>
      <email>joanied@gnome.org</email>
    </credit>
    <license>
      <p>Creative Commons Deling på samme vilkår 3.0</p>
    </license>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>scootergrisen</mal:name>
      <mal:email/>
      <mal:years>2020-2022&lt;</mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Ask Hjorth Larsen</mal:name>
      <mal:email>asklarsen@gmail.com</mal:email>
      <mal:years>2022</mal:years>
    </mal:credit>
  </info>
  <title>Kommandoer for klokkeslæt, dato og underretning</title>
  <p>Følgende kommandoer kan bruges til at få det nuværende klokkeslæt og dato samt til at gennemgå underretninger, som tidligere er blevet vist:</p>
  <section id="time_and_date">
    <title>Få klokkeslættet og datoen</title>
    <list>
      <item>
        <p>Præsentér klokkeslættet: <keyseq><key>Orca-ændringstast</key><key>T</key></keyseq></p>
      </item>
      <item>
        <p>Præsentér datoen: <keyseq><key>Orca-ændringstast</key><key>T</key></keyseq> (dobbeltklikket)</p>
      </item>
    </list>
  </section>
  <section id="notifications">
    <title>Gennemgang af underretninger</title>
    <p>Orca har tre ubundne kommandoer til at få adgang til <link xref="howto_notifications">underretninger</link>, som tidligere er blevet vist. Se venligst <link xref="howto_key_bindings">Ændring af tastebindinger</link> for information om hvordan, kommandoerne bindes til tastetryk.</p>
    <list>
      <item>
        <p>Præsentér den sidste (nyeste) underretning: (Ubundet)</p>
      </item>
      <item>
        <p>Præsentér den forrige underretning: (Ubundet)</p>
      </item>
      <item>
        <p>Præsentér liste over alle underretninger: (Ubundet)</p>
      </item>
    </list>
  </section>
</page>
