<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" type="topic" id="howto_setting_up_orca" xml:lang="da">
<info>
  <link type="seealso" xref="preferences"/>
  <link type="guide" xref="index#getting_started"/>
  <link type="next" xref="howto_the_orca_modifier"/>
  <title type="sort">4. Konfiguration af Orca</title>
  <title type="link">Konfiguration</title>
    <desc>Opsætning af <app>Orca</app></desc>
    <credit type="author">
      <name>Joanmarie Diggs</name>
      <email>joanied@gnome.org</email>
    </credit>
    <license>
      <p>Creative Commons Deling på samme vilkår 3.0</p>
    </license>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>scootergrisen</mal:name>
      <mal:email/>
      <mal:years>2020-2022&lt;</mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Ask Hjorth Larsen</mal:name>
      <mal:email>asklarsen@gmail.com</mal:email>
      <mal:years>2022</mal:years>
    </mal:credit>
  </info>
  <title>Konfiguration af Orca</title>

      <p>Hvis du vil konfigurere <app>Orca</app>, så kom ind i dialogen <link xref="preferences">Indstillinger</link> ved at trykke på <keyseq><key>Orca-ændringstast</key><key>Mellemrum</key></keyseq> i et program med tilgængelighed. Alternativt kan du skrive <cmd>orca</cmd> efterfulgt af enten <cmd>-s</cmd> eller <cmd>--setup</cmd> i et terminalvindue eller i dialogen <gui>Kør</gui> og så trykke på <key>Retur</key>.</p>
</page>
